<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('../partials/head') %>    
</head>
<body>

<!-- Para footer abajo -->
<div class="wrapper"> 

  <%- include('../partials/navigation') %>      


  <%- include('comUpload') %>

 

  <%- include('comFormularioMatch') %>


  

    

</div> <!-- Fin de footer abajo -->

<%- include('../partials/footer') %>

</body>
</html>
